#!/bin/bash
set -e -x
exec > >(tee /var/log/user-data.log|logger -t user-data -s 2>/dev/console) 2>&1

# -----------------------------------------------------------------------------
#  BASE INSTALL
# -----------------------------------------------------------------------------

readonly CONFIG_DIR=/opt/snowplow/config

function install_docker_ce() {
  sudo yum install -y docker-20.10.4-1.amzn2
  sudo systemctl enable docker
  sudo systemctl start docker
  sudo usermod -a -G docker ec2-user
}

function get_instance_id() {
  curl --silent --location "http://169.254.169.254/latest/meta-data/instance-id/"
}

install_docker_ce

sudo mkdir -p $${CONFIG_DIR}
sudo cat << EOF > $${CONFIG_DIR}/collector.hocon
${config}
EOF

sudo docker run \
  -d \
  --name collector \
  --restart always \
  --network host \
  --memory=${container_memory} \
%{ if cloudwatch_logs_enabled ~}
  --log-driver awslogs \
  --log-opt awslogs-group=${cloudwatch_log_group_name} \
  --log-opt awslogs-stream=$(get_instance_id) \
%{ else ~}
  --log-opt max-size=10m \
  --log-opt max-file=5 \
%{ endif ~}
  -v $${CONFIG_DIR}:/snowplow/config \
  -p ${port}:${port} \
  -e '${java_opts}' \
  snowplow/scala-stream-collector-kinesis:${version} \
  --config /snowplow/config/collector.hocon

${telemetry_script}
