#!/bin/bash
set -e -x
exec > >(tee /var/log/user-data.log|logger -t user-data -s 2>/dev/console) 2>&1

# -----------------------------------------------------------------------------
#  BASE INSTALL
# -----------------------------------------------------------------------------

readonly CONFIG_DIR=/opt/snowplow/config

function install_docker_ce() {
  sudo yum install -y docker-20.10.4-1.amzn2
  sudo systemctl enable docker
  sudo systemctl start docker
  sudo usermod -a -G docker ec2-user
}

install_docker_ce

sudo mkdir -p $${CONFIG_DIR}
sudo cat << EOF > $${CONFIG_DIR}/collector.hocon
${config}
EOF

sudo docker run \
  -d \
  --name collector \
  --restart always \
  --network host \
  --log-opt max-size=10m \
  --log-opt max-file=5 \
  -v $${CONFIG_DIR}:/snowplow/config \
  -p ${port}:${port} \
  -e 'JAVA_OPTS=-Dorg.slf4j.simpleLogger.defaultLogLevel=info -Dcom.amazonaws.sdk.disableCbor' \
  snowplow/scala-stream-collector-kinesis:${version} \
  --config /snowplow/config/collector.hocon

${telemetry_script}
